*{
    box-sizing: border-box;
}
section{
    width: 100%;
    border: solid 1px;
    background-color: white;
    
 & h1{
    font-size: 32px;
    margin: 4rem;
 }
 & .cardOne{
    border: solid 1px green;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    }
}


