.ctn {
  background-color: aqua;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

.fourth-section {
  margin-bottom: 0;
}
.fourth-section .container {
  width: 100%;
  height: 870px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 98.63%);
}
.fourth-section .img-bg {
  position: absolute;
  width: 100%;
  height: 870px;
  background-image: url(../images/darius-soodmand-F8E2tks5N04-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 2;
}
.fourth-section .title {
  margin: 45px auto;
  text-align: center;
  font-size: 32px;
}
.fourth-section .paragraph {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 45px;
  margin: 0 10px;
}
.fourth-section .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-section .form .container-50 {
  display: none;
}
.fourth-section .form .form-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}
.fourth-section .form .form-input {
  border: solid 1px white;
  margin: 20px 0;
  width: 370px;
  height: 36px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourth-section .form .more-text-input {
  height: 148px;
}
.fourth-section .form .form-btn {
  padding: 10px;
  font-size: 16px;
  width: 370px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.five-section {
  height: 600px;
  margin-top: 0;
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, rgba(255, 255, 255, 0.43) 98.63%);
}
.five-section .title-flags {
  padding: 10px;
}
.five-section h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.five-section .ctn-flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.five-section .ctn-flag .flag {
  margin: 1rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  width: 290px;
  height: 103px;
  background-color: black;
  color: white;
}
.five-section .ctn-flag .title-white {
  font-weight: normal;
  letter-spacing: 1px;
}
.five-section .ctn-flag .circle-flag {
  margin: 0 15px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  width: 88px;
  height: 88px;
}
.five-section .ctn-flag .flag-inverted {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 290px;
  height: 103px;
  background-color: black;
  color: white;
}
.five-section .ctn-flag .inverted {
  margin: 0 5px 0 15px;
}

@media (min-width: 1024px) {
  body {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%);
  }
  .fourth-section .container {
    width: 100%;
    align-items: center;
  }
  .fourth-section .img-bg {
    background-image: url(../images/Desktop\ darius-soodmand-F8E2tks5N04-unsplash\ 1.png);
  }
  .fourth-section .paragraph {
    width: 500px;
  }
  .fourth-section .form .container-50 {
    display: block;
  }
  .fourth-section .form .ctn-50-input {
    display: none;
  }
  .fourth-section .form .inputs-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
  }
  .fourth-section .form .inputs-ctn .form-input-50 {
    border: solid 1px white;
    margin: 20px 0;
    width: 50%;
    height: 36px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.65);
  }
}/*# sourceMappingURL=style.css.map */